page-login {
  div.fifty {
    height: 50vh;
  }

  div.fifty.bottom {
    padding-top: 120px;
  }

  div.form {
    width: 90%;
    margin-bottom: 50%;
    margin-left: 5%;
    position: absolute;
    align: center;
    bottom: 0;
    background: #fff;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
  }

  p.sub {
    padding-top: 8px;
    font-size: 12px;
    text-align: center;
    color: #777777;
  }

  p.error {
    color: #FF0000;
    text-align: center;
  }
}
